body{
    background-color:#efefef;
}

.main{
    margin: 30px;
    background-color: #f8f8f8;

}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile.section{
    margin-top: 15px;
}
.community-menu{
    color: #f8f8f8;
    font-size:13px ;
}
.error{
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.btn_comment{
    float: right;
    margin-bottom: 10px
}
.hr_top{
    margin-top: 0;
}
.img_comment{
    margin-left: 10px;
    font-size: 15px;
}
.comment_menu{
    color: #999;
}
.comment_menu .icon{
    cursor: pointer;
}
.comment_menu .icon:hover{
    color: #2aabd2;
}